if SHIELD_MONOOWL_R

config ZMK_KEYBOARD_NAME
    default "MonoOwl_R"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MONOOWL_L

config ZMK_KEYBOARD_NAME
    default "MonoOwl_L"

config ZMK_SPLIT
    default y
    
    
endif
